@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel::-webkit-scrollbar {
  overflow-y: hidden;
  display: none;
}

.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #ff671f;
}

.scroll::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.scroll::-webkit-scrollbar-track:hover,
.scroll::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.card:hover {
  position: inherit;
  height: 340px;
  width: 338px;
  box-shadow: 0px 0px 5px 1px black;
  -webkit-transform: scale(1.009);
  transform: scale(1.009);
  transition-duration: 500ms;
}

.card2:hover {
  position: inherit;
  height: 440px;
  width: 320px;
  box-shadow: 0px 0px 5px 1px black;
  -webkit-transform: scale(1.009);
  transform: scale(1.009);
  transition-duration: 500ms;
}

@media screen and (min-width: 640px) {
  .card:hover {
    height: 360px;
    width: 400px;
    transition-duration: 500ms;
  }
  .card2:hover {
    height: 480px;
    width: 360px;
  }
}
