@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.title__sign {
  display: none;
}

.title__container:hover .title__sign {
  display: block;
  transform: translate3d(110px, 0, 0);
}

#carousel__container {
  scroll-behavior: smooth;
}

#carousel__container2 {
  scroll-behavior: smooth;
}
#carousel__container3 {
  scroll-behavior: smooth;
}
#carousel__container3::-webkit-scrollbar {
  display: none;
}

.arrows {
  position: relative;
}

.arrow__right {
  position: absolute;
  right: 10px;
  bottom: 150px;
}
.arrow__left {
  position: absolute;
  left: 10px;
  bottom: 150px;
}

.arrow__right2 {
  position: absolute;
  right: 10px;
  bottom: 170px;
}
.arrow__left2 {
  position: absolute;
  left: 10px;
  bottom: 170px;
}

.arrow__left {
  background-color: honeydew;
}
.arrow__right {
  background-color: honeydew;
}
.arrow__left2 {
  background-color: honeydew;
}
.arrow__right2 {
  background-color: honeydew;
}

.arrow__left:hover {
  background-color: lightgoldenrodyellow;
}
.arrow__right:hover {
  background-color: lightgoldenrodyellow;
}
.arrow__left2:hover {
  background-color: lightgoldenrodyellow;
}
.arrow__right2:hover {
  background-color: lightgoldenrodyellow;
}

.arrow__left:active {
  background-color: gray;
}
.arrow__right:active {
  background-color: gray;
}

@media screen and (min-width: 640px) {
  .arrow__right {
    bottom: 110px;
  }
  .arrow__left {
    bottom: 110px;
  }
}

@media (min-width: 768px) {
  .arrow__right {
    bottom: 190px;
  }
  .arrow__left {
    bottom: 190px;
  }
  .arrow__right2 {
    bottom: 210px;
  }
  .arrow__left2 {
    bottom: 210px;
  }

  .carousel {
  }

  .carousel__container::-webkit-scrollbar {
    display: none;
  }

  .carousel__container {
    margin: 70px 0px;
  }

  .carousel__item {
    transition: 450ms all;
    transform-origin: center left;
  }

  .carousel__item:hover ~ .carousel__item {
    transform: translate3d(40px, 0, 0);
  }

  .carousel__container:hover .carousel__item {
    opacity: 0.3;
  }

  /* .arrows {
    display: none;
  }

  #carousel__container:hover ~ .arrows {
    display: block;
  } */

  .carousel__container:hover .carousel__item:hover {
    transform: scale(1.05);
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  .arrow__right2 {
    bottom: 280px;
  }
  .arrow__left2 {
    bottom: 280px;
  }
}

@media (min-width: 2034px) {
  .arrow__right {
    bottom: 300px;
  }
  .arrow__left {
    bottom: 300px;
  }
}
