@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  -webkit-appearance: none;
  margin-top: 4px;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #ff671f;
}

::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 8px;
}

/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
